* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: rgba(198,200,198,1);
}

.container {
  display: flex;
  flex-direction: row;
}

.background {
  width: 100%;
}

.radio {
  padding-right: 1em;
}

.herbarium {
  position: relative;

  margin-right: 5em;
}

.rules {
  width: 554px;
  margin-left: 5em;
  position: relative;
  margin-right: 5em;
}

.title_div {
  width: 100%;
  height: 120px;
}

.title {
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  color: rgba(88,24,13,1);
  font-family: Rosarivo;
  font-weight: Regular;
  font-size: 56px;
}



.rule_div {
  width: 554px;
  background: url("../images/v9_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  overflow: hidden;
  margin-bottom: 10em;
}


.rule_text {
  width: 100%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 16px;
  padding: 1em;
  opacity: 1;
  text-align: left;
}

.credits_div {
  width: 100%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 16px;
  padding: 1em;
  opacity: 1;
  text-align: left;
  display: none;
}

.plant_search {
  width: 80%;
  margin: 1em auto;
  display:block;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
}

.hand{
  width: 100%;
  text-align: center;
  color: rgba(88,24,13,1);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
}

.only_tall {
    display: none;
  background: url("../images/v9_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (max-aspect-ratio: 1/1) {
  .container{
    flex-direction: column;
    align-items: center;
    }

  .rules {
    order: 2;
  }

  .herbarium {
    order: 1;
  }

  .title_div {
    display: none;
  }

    .herbarium {
      margin-right: 0.5em;
      margin-left: 0.5em;
    }

    .only_wide {
        display: none;
    }

    .only_tall {
        display: block ;
    }

}