<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rosarivo&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/plant.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/gallery.css') }}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/sample_icon5.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body onload="loadAll()">
    <script src="{{ url_for('static', filename='js/gallery.js') }}"></script>
    <div class="button-container">
        <button onclick="selectTerrain('Forest')">Forest</button>
        <button onclick="selectTerrain('Plains')">Plains</button>
        <button onclick="selectTerrain('Cave')">Cave</button>
        <button onclick="selectTerrain('Mountain')">Mountain</button>
        <button onclick="selectTerrain('Coast')">Coast</button>
        <button onclick="selectTerrain('Arctic')">Arctic</button>
        <button onclick="selectTerrain('Arid')">Arid</button>
        <button onclick="selectTerrain('Tropics')">Tropics</button>
        <button onclick="selectTerrain('Urban')">Village</button>
        <button onclick="getPDF()">PDF</button>
    </div>
    <div class="grid" style="grid-template-columns: repeat({{ columns }}, 1fr);" id="grid-container">
        {% for name in names %}
            <div class="grid-item" data-name="{{ name }}"></div>
        {% endfor %}
    </div>

</body>
</html>